### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# check info 
purchase_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [5]:
total_players = purchase_data_df["SN"].nunique()
total_players

576

In [6]:
# summary data frame to hold the results 
total_players_df = pd.DataFrame([{
    "Total Players": total_players
}])

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# number of unique items 
num_unique_items = purchase_data_df['Item Name'].nunique()
num_unique_items

179

In [8]:
# average price
average_price = purchase_data_df['Price'].mean()
average_price

3.050987179487176

In [9]:
# Number of purchases
number_purchases = purchase_data_df["Purchase ID"].nunique()
number_purchases

780

In [10]:
# Total revenue 
total = purchase_data_df.Price.sum()
total

2379.77

In [11]:
# summary data frame to hold the results 
summary_df = pd.DataFrame([{
    "Number of Unique Items": num_unique_items,
    "Average Price": average_price, 
    "Number of Purchases": number_purchases,
    "Total Revenue": total
}])

summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [12]:
# give the displayed data cleaner formatting
summary_df.dtypes

Number of Unique Items      int64
Average Price             float64
Number of Purchases         int64
Total Revenue             float64
dtype: object

In [13]:
# give the displayed data cleaner formatting

# Format: make sure Average Price is float
summary_df['Average Price'] = pd.to_numeric(summary_df['Average Price'])
summary_df['Average Price'].dtype

dtype('float64')

In [14]:
# Format: make sure  Total Revenue is float
summary_df['Total Revenue'] = pd.to_numeric(summary_df['Total Revenue'])
summary_df['Total Revenue'].dtype

dtype('float64')

In [15]:
# Format: add $ and limit decimal places for Average price 
summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases  Total Revenue
0                     179         $3.05                  780        2379.77

In [16]:
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:,.2f}".format)
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [17]:
# Display the summary data frame
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [18]:
# set index to gender 
gender_df = purchase_data_df.set_index('Gender')
gender_df

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44
...,...,...,...,...,...,...
Female,775,Aethedru70,21,60,Wolf,3.54
Male,776,Iral74,21,164,Exiled Doomblade,1.63
Male,777,Yathecal72,20,67,"Celeste, Incarnation of the Corrupted",3.46
Male,778,Sisur91,7,92,Final Critic,4.19
Male,779,Ennrian78,24,50,Dawn,4.60

In [19]:
# count # of males (unique) 
male_count = gender_df.loc['Male','SN'].nunique()
male_count

484

In [20]:
# male count percentage of total 
male_percentage = (male_count/total_players)
male_percentage

0.8402777777777778

In [21]:
# format: male percentage  
male_percentage = "{:.2%}".format(male_percentage)
print(male_percentage)

84.03%

In [22]:
# create male DataFrame
male_summary = pd.DataFrame([{
    "Total Count": male_count,
    "Percentage of Players": male_percentage
}])
male_summary

   Total Count Percentage of Players
0          484                84.03%

In [23]:
# count # of females (unique) 
female_count = gender_df.loc['Female','SN'].nunique()
female_count

81

In [24]:
# female count percentage of total 
female_percentage = female_count/total_players
female_percentage

0.140625

In [25]:
# format: female percentage  
female_percentage = "{:.2%}".format(female_percentage)
print(female_percentage)

14.06%

In [26]:
# create female DataFrame
female_summary = pd.DataFrame([{
    "Total Count": female_count,
    "Percentage of Players": female_percentage
}])
female_summary

   Total Count Percentage of Players
0           81                14.06%

In [27]:
# count # of other / non-disclosed (unique) 
other_count = gender_df.loc['Other / Non-Disclosed','SN'].nunique()
other_count

11

In [28]:
# other count percentage of total 
other_percentage = other_count/total_players
other_percentage

0.019097222222222224

In [29]:
# format: other percentage  
other_percentage = "{:.2%}".format(other_percentage)
print(other_percentage)

1.91%

In [30]:
# create other DataFrame
other_summary = pd.DataFrame([{
    "Total Count": other_count,
    "Percentage of Players": other_percentage
}])
other_summary

   Total Count Percentage of Players
0           11                 1.91%

In [31]:
# place all in new summary DataFrame
gender_dicts = {
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count": [male_count, female_count, other_count], 
    "Percentage of Players": [male_percentage, female_percentage, other_percentage]
}
gender_summary = pd.DataFrame(gender_dicts)
gender_summary

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [32]:
gender_summary = gender_summary.set_index("Gender")
gender_summary

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

113
652
15

In [34]:
# Average Purchase Price by gender  

# by female 
female_purchase_avg = gender_df.loc['Female','Price'].mean()

# by male 
male_purchase_avg = gender_df.loc['Male','Price'].mean()

# by other
other_purchase_avg = gender_df.loc['Other / Non-Disclosed', 'Price'].mean()

print(female_purchase_avg)
print(male_purchase_avg)
print(other_purchase_avg)

3.203008849557519
3.0178527607361953
3.3460000000000005

In [35]:
# Total Purchase Value by gender 

# by female 
female_purchase_total = gender_df.loc['Female','Price'].sum()

# by male 
male_purchase_total = gender_df.loc['Male','Price'].sum()

# by other
other_purchase_total = gender_df.loc['Other / Non-Disclosed', 'Price'].sum()

print(female_purchase_total)
print(male_purchase_total)
print(other_purchase_total)

361.94
1967.64
50.19

In [36]:
# Avg Total Purchase per Person

# by female 
female_purchase_avg_total_purchase = female_purchase_total/female_count

# by male 
male_purchase_avg_total_purchase = male_purchase_total/male_count

# by other
other_purchase_avg_total_purchase = other_purchase_total/other_count

print(female_purchase_avg_total_purchase)
print(male_purchase_avg_total_purchase)
print(other_purchase_avg_total_purchase)

4.468395061728395
4.065371900826446
4.5627272727272725

In [37]:
# place all in new summary DataFrame
purchasing_by_gender_dicts = {
    "Gender": ["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": [female_purchase_count, male_purchase_count, other_purchase_count], 
    "Average Purchase Price": [female_purchase_avg, male_purchase_avg, other_purchase_avg],
    "Total Purchase Value": [female_purchase_total, male_purchase_total, other_purchase_total],
    "Average Total Purchase per Person": [female_purchase_avg_total_purchase, male_purchase_avg_total_purchase, other_purchase_avg_total_purchase]
}
purchasing_by_gender_summary = pd.DataFrame(purchasing_by_gender_dicts)
purchasing_by_gender_summary

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,Female,113,3.203009,361.94,4.468395
1,Male,652,3.017853,1967.64,4.065372
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [38]:
# format index 
purchasing_by_gender_summary = purchasing_by_gender_summary.set_index("Gender")
purchasing_by_gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [39]:
# format: check type 
purchasing_by_gender_summary.dtypes

Purchase Count                         int64
Average Purchase Price               float64
Total Purchase Value                 float64
Average Total Purchase per Person    float64
dtype: object

In [40]:
# format Average Purchase Price in summary table 
purchasing_by_gender_summary['Average Purchase Price'] = purchasing_by_gender_summary['Average Purchase Price'].map("${:.2f}".format)
purchasing_by_gender_summary.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,361.94,4.468395
Male,652,$3.02,1967.64,4.065372
Other / Non-Disclosed,15,$3.35,50.19,4.562727

In [41]:
# format Average Purchase Price in summary table 
purchasing_by_gender_summary['Total Purchase Value'] = purchasing_by_gender_summary['Total Purchase Value'].map("${:,.2f}".format)
purchasing_by_gender_summary.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,4.468395
Male,652,$3.02,"$1,967.64",4.065372
Other / Non-Disclosed,15,$3.35,$50.19,4.562727

In [42]:
# format Average Total Purchase per Person in summary table 
purchasing_by_gender_summary['Average Total Purchase per Person'] = purchasing_by_gender_summary['Average Total Purchase per Person'].map("${:.2f}".format)
purchasing_by_gender_summary.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [43]:
# create & name bins 
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [44]:
# check number of bins 1 more than group_names
len(bins),len(group_names)

(9, 8)

In [45]:
# check data type for age 
purchase_data_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [46]:
# slice data 
purchase_data_df['Age Bins'] = pd.cut(purchase_data_df.Age,bins,labels=group_names,right=True)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [47]:
# index by age bins 
age_group = purchase_data_df.set_index('Age Bins')
age_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Bins,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44

In [48]:
# Calculate the numbers and percentages by age group

# <10
under_ten = age_group.loc['<10',:]
under_ten_count = under_ten.SN.count()
under_ten_percentage = under_ten_count/total_players
under_ten_percentage = "{:.2%}".format(under_ten_percentage)

# 10-14
ten_to_fourteen = age_group.loc['10-14',:]
ten_to_fourteen_count = ten_to_fourteen.SN.count()
ten_to_fourteen_percentage = ten_to_fourteen_count/total_players
ten_to_fourteen_percentage = "{:.2%}".format(ten_to_fourteen_percentage)

# 15-19
fifteen_to_nineteen = age_group.loc['15-19',:]
fifteen_to_nineteen_count = fifteen_to_nineteen.SN.count()
fifteen_to_nineteen_percentage = fifteen_to_nineteen_count/total_players
fifteen_to_nineteen_percentage = "{:.2%}".format(fifteen_to_nineteen_percentage)

# 20-24
twenty_to_twentyfour = age_group.loc['20-24',:]
twenty_to_twentyfour_count = twenty_to_twentyfour.SN.count()
twenty_to_twentyfour_percentage = twenty_to_twentyfour_count/total_players
twenty_to_twentyfour_percentage = "{:.2%}".format(twenty_to_twentyfour_percentage)

# 25-29
twentyfive_to_twentynine = age_group.loc['25-29',:]
twentyfive_to_twentynine_count = twentyfive_to_twentynine.SN.count()
twentyfive_to_twentynine_percentage = twentyfive_to_twentynine_count/total_players
twentyfive_to_twentynine_percentage = "{:.2%}".format(twentyfive_to_twentynine_percentage)

# 30-34
thirty_to_thirtyfour = age_group.loc['30-34',:]
thirty_to_thirtyfour_count = thirty_to_thirtyfour.SN.count()
thirty_to_thirtyfour_percentage = thirty_to_thirtyfour_count/total_players
thirty_to_thirtyfour_percentage = "{:.2%}".format(thirty_to_thirtyfour_percentage)

# 35-39
thirtyfive_to_thirtynine = age_group.loc['35-39',:]
thirtyfive_to_thirtynine_count = thirtyfive_to_thirtynine.SN.count()
thirtyfive_to_thirtynine_percentage = thirtyfive_to_thirtynine_count/total_players
thirtyfive_to_thirtynine_percentage = "{:.2%}".format(thirtyfive_to_thirtynine_percentage)

# 40+
forty_and_over = age_group.loc['40+',:]
forty_and_over_count = forty_and_over.SN.count()
forty_and_over_percentage = forty_and_over_count/total_players
forty_and_over_percentage = "{:.2%}".format(forty_and_over_percentage)

print(under_ten_count)
print(under_ten_percentage)
print(ten_to_fourteen_count)
print(ten_to_fourteen_percentage)
print(fifteen_to_nineteen_count)
print(fifteen_to_nineteen_percentage)
print(twenty_to_twentyfour_count)
print(twenty_to_twentyfour_percentage)
print(twentyfive_to_twentynine_count)
print(twentyfive_to_twentynine_percentage)
print(thirty_to_thirtyfour_count)
print(thirty_to_thirtyfour_percentage)
print(thirtyfive_to_thirtynine_count)
print(thirtyfive_to_thirtynine_percentage)
print(forty_and_over_count)
print(forty_and_over_percentage)

23
3.99%
28
4.86%
136
23.61%
365
63.37%
101
17.53%
73
12.67%
41
7.12%
13
2.26%

In [49]:
# create a summary data frame to hold the results
age_dicts = {
    "Age Ranges": ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"],
    "Total Count": [under_ten_count, ten_to_fourteen_count, fifteen_to_nineteen_count, twenty_to_twentyfour_count, twentyfive_to_twentynine_count, thirty_to_thirtyfour_count, thirtyfive_to_thirtynine_count, forty_and_over_count], 
    "Percentage of Players": [under_ten_percentage, ten_to_fourteen_percentage, fifteen_to_nineteen_percentage, twenty_to_twentyfour_percentage, twentyfive_to_twentynine_percentage, thirty_to_thirtyfour_percentage, thirtyfive_to_thirtynine_percentage, forty_and_over_percentage]
}
age_summary = pd.DataFrame(age_dicts)
age_summary

  Age Ranges  Total Count Percentage of Players
0        <10           23                 3.99%
1      10-14           28                 4.86%
2      15-19          136                23.61%
3      20-24          365                63.37%
4      25-29          101                17.53%
5      30-34           73                12.67%
6      35-39           41                 7.12%
7        40+           13                 2.26%

In [50]:
# set summary by age range 
age_summary = age_summary.set_index("Age Ranges")
age_summary

            Total Count Percentage of Players
Age Ranges
<10                  23                 3.99%
10-14                28                 4.86%
15-19               136                23.61%
20-24               365                63.37%
25-29               101                17.53%
30-34                73                12.67%
35-39                41                 7.12%
40+                  13                 2.26%

In [51]:
# my age bin numbers are wrong and I can't figure out why! 
# I will discuss with a tutor and resubmit the homework. I apologize for my error!

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
# check age bins 
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [54]:
# set index to age 
age_df = purchase_data_df.set_index('Age Bins')
age_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Bins,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
20-24,775,Aethedru70,21,Female,60,Wolf,3.54
20-24,776,Iral74,21,Male,164,Exiled Doomblade,1.63
20-24,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
<10,778,Sisur91,7,Male,92,Final Critic,4.19
20-24,779,Ennrian78,24,Male,50,Dawn,4.60

In [56]:
# Purchase Count by age

# <10 
under_ten_purchase_count = purchase_data_df.loc['<10','Purchase ID'].nunique()

# 10-14
ten_to_fourteen_purchase_count = purchase_data_df.loc['10-14','Purchase ID'].nunique()

# 15-19
fifteen_to_nineteen_purchase_count = purchase_data_df.loc['15-19','Purchase ID'].nunique()

# 20-24
twenty_to_twentyfour_purchase_count = purchase_data_df.loc['20-24','Purchase ID'].nunique()

# 25-29
twentyfive_to_twentynine_purchase_count = purchase_data_df.loc['25-29','Purchase ID'].nunique()

# 30-34
thirty_to_thirtyfour_purchase_count = purchase_data_df.loc['30-34','Purchase ID'].nunique()

# 35-39
thirtyfive_to_thirtynine_purchase_count = purchase_data_df.loc['35-39','Purchase ID'].nunique()

# 40+
fourty_plus_purchase_count = purchase_data_df.loc['40+','Purchase ID'].nunique()

print(under_ten_purchase_count)
print(ten_to_fourteen_purchase_count)
print(fifteen_to_nineteen_purchase_count)
print(twenty_to_twentyfour_purchase_count)
print(twentyfive_to_twentynine_purchase_count)
print(thirty_to_thirtyfour_purchase_count)
print(thirtyfive_to_thirtynine_purchase_count)
print(fourty_plus_purchase_count)

KeyError: '<10'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
# check file 
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [58]:
# set index to SN 
SN_df = purchase_data_df.set_index('SN')
SN_df.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Bins
SN,,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56,40+
Ithergue48,2,24,Male,92,Final Critic,4.88,20-24
Chamassasya86,3,24,Male,100,Blindscythe,3.27,20-24
Iskosia90,4,23,Male,131,Fury,1.44,20-24

In [66]:
# SN purchase count
SN_purchase_count = purchase_data_df.loc('SN','Purchase ID')
SN_purchase_count()

TypeError: __call__() takes from 1 to 2 positional arguments but 3 were given

In [69]:
# SN purchase count
SN_purchase_count.value_counts()

NameError: name 'SN_purchase_count' is not defined

In [59]:
# sort with largest on top 
SN_df.sort_values(['Purchase Count'], ascending=False)

KeyError: 'Purchase Count'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [67]:
# check original file 
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [68]:
# index by Item ID
item_ID_df = purchase_data_df.set_index('Item ID')
item_ID_df.head()

,Purchase ID,SN,Age,Gender,Item Name,Price,Age Bins
Item ID,,,,,,,
108,0,Lisim78,20,Male,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
143,1,Lisovynya38,40,Male,Frenzied Scimitar,1.56,40+
92,2,Ithergue48,24,Male,Final Critic,4.88,20-24
100,3,Chamassasya86,24,Male,Blindscythe,3.27,20-24
131,4,Iskosia90,23,Male,Fury,1.44,20-24

In [75]:
# remove columns so only Item ID, Item Name, and Item Price columns left
item_columns_df = item_ID_df.drop(columns=['Purchase ID','SN','Age','Gender','Age Bins'])
item_columns_df.head()

                                         Item Name  Price
Item ID
108      Extraction, Quickblade Of Trembling Hands   3.53
143                              Frenzied Scimitar   1.56
92                                    Final Critic   4.88
100                                    Blindscythe   3.27
131                                           Fury   1.44

In [78]:
# rename price to Item Price 
renamed_item_columns_df = item_columns_df.rename(columns = {'Price':'Item Price'})
renamed_item_columns_df.head()

                                         Item Name  Item Price
Item ID
108      Extraction, Quickblade Of Trembling Hands        3.53
143                              Frenzied Scimitar        1.56
92                                    Final Critic        4.88
100                                    Blindscythe        3.27
131                                           Fury        1.44

In [89]:
# group by Item ID and Item Name
grouped_item_columns_df = renamed_item_columns_df.groupby(['Item ID','Item Name'])
grouped_item_columns_df.head()

                                         Item Name  Item Price
Item ID
108      Extraction, Quickblade Of Trembling Hands        3.53
143                              Frenzied Scimitar        1.56
92                                    Final Critic        4.88
100                                    Blindscythe        3.27
131                                           Fury        1.44
...                                            ...         ...
113                              Solitude's Reaver        4.07
130                                          Alpha        2.07
58               Freak's Bite, Favor of Holy Might        4.14
67           Celeste, Incarnation of the Corrupted        3.46
50                                            Dawn        4.60

[690 rows x 2 columns]

In [90]:
# calculate purchase count 
item_purchase_count = grouped_item_columns_df_data['Item Name'].value_counts()
item_purchase_count.head()

NameError: name 'grouped_item_columns_df_data' is not defined

In [91]:
# calculate average item price 
average_item_price = grouped_item_columns_df_data['Item Price'].mean()

NameError: name 'grouped_item_columns_df_data' is not defined

In [92]:
# calculate total purchase value
total_purchase_value = grouped_item_columns_df_data['Item Price'].sum()

NameError: name 'grouped_item_columns_df_data' is not defined

In [ ]:
# create a summary data frame to hold the results
popular_items_dicts = {
    "Item ID": ,
    "Item Name": ,
    "Purchase Count": item_purchase_count 
    "Item Price": 
    "Total Purchase Value":total_purchase_value
}
popular_items_summary = pd.DataFrame(popular_items_dicts)
age_summary

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80